
h1 {
    color: white;
}
body { font-family: 'Segoe UI', sans-serif; background-color: black; margin: 0; padding: 20px; }
.container { max-width: 1000px; margin: auto; text-align: center; }

.filter-buttons { margin-bottom: 20px; }
.btn { border: none; outline: none; padding: 10px 20px; background-color: white; cursor: pointer; border-radius: 5px; transition: 0.3s; margin: 5px; }
.btn:hover, .btn.active { background-color: #333; color: white; }

.gallery-grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 15px; }
.gallery-item { overflow: hidden; border-radius: 8px; cursor: pointer; display: block; height: 200px; }


.gallery-item img { width: 100%; height: 100%; transition: transform 0.5s ease; display: block;  }
.gallery-item:hover img { transform: scale(1.1); }


.gallery-item.hide { display: none; }


.modal { display: none; position: fixed; z-index: 1000; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.9); }
.modal-content { position: relative; margin: auto; padding: 0; width: 80%; max-width: 700px; top: 10%; }
.close { position: absolute; top: 10px; right: 25px; color: white; font-size: 35px; cursor: pointer; }


.prev, .next { cursor: pointer; position: absolute; top: 50%; width: auto; padding: 16px; margin-top: -50px; color: white; font-weight: bold; font-size: 20px; transition: 0.6s ease; user-select: none; }
.next { right: 0; border-radius: 3px 0 0 3px; }
.prev:hover, .next:hover { background-color: rgba(0, 0, 0, 0.8); }